@import "tailwindcss/utilities";
@import "tailwindcss/theme";

@theme {
    --color-bg-start: #416987;
    --color-bg-end: #101947;
}

/*
マシュマリーカラー
    --color-bg-start: #e6f5fa;
    --color-bg-end: #8bbdc7;

ただ声一つカラー
    --color-bg-start: #416987;
    --color-bg-end: #101947;

静寂に咲くカラー
    --color-bg-start: #dbf3ff;
    --color-bg-end: #c3d9eb;
*/

.mantine-Accordion-control:hover {
    background-color: #0000000a !important;
}

.mantine-Accordion-item {
    border-color: #ffffffa0 !important;
}

.mantine-AppShell-aside {
    border-color: #ffffffa0 !important;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin:hover {
    animation: rotate 0.2s linear infinite;
}
